/* Reset */
* { box-sizing: border-box; }

/* Fonts */
.system-font { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif; }

.font-size-1 { font-size: 3rem; }
.font-size-2 { font-size: 2.25rem; }
.font-size-3 { font-size: 1.5rem; }
.font-size-4 { font-size: 1.25rem; }
.font-size-5 { font-size: 1rem; }
.font-size-6 { font-size: 0.875rem; }

/* Display */
.block { display: block; }
.inline-block { display: inline-block; }

/* Flex */
.flex { display: flex; }
.justify-center { justify-content: center; }

/* Color */
.color-aliceblue { color: aliceblue; }
.color-antiquewhite { color: antiquewhite; }
.color-aqua { color: aqua; }
.color-aquamarine { color: aquamarine; }
.color-azure { color: azure; }
.color-beige { color: beige; }
.color-bisque { color: bisque; }
.color-black { color: black; }
.color-blanchedalmond { color: blanchedalmond; }
.color-blue { color: blue; }
.color-blueviolet { color: blueviolet; }
.color-brown { color: brown; }
.color-burlywood { color: burlywood; }
.color-cadetblue { color: cadetblue; }
.color-chartreuse { color: chartreuse; }
.color-chocolate { color: chocolate; }
.color-coral { color: coral; }
.color-cornflowerblue { color: cornflowerblue; }
.color-cornsilk { color: cornsilk; }
.color-crimson { color: crimson; }
.color-cyan { color: cyan; }
.color-darkblue { color: darkblue; }
.color-darkcyan { color: darkcyan; }
.color-darkgoldenrod { color: darkgoldenrod; }
.color-darkgray { color: darkgray; }
.color-darkgreen { color: darkgreen; }
.color-darkgrey { color: darkgrey; }
.color-darkkhaki { color: darkkhaki; }
.color-darkmagenta { color: darkmagenta; }
.color-darkolivegreen { color: darkolivegreen; }
.color-darkorange { color: darkorange; }
.color-darkorchid { color: darkorchid; }
.color-darkred { color: darkred; }
.color-darksalmon { color: darksalmon; }
.color-darkseagreen { color: darkseagreen; }
.color-darkslateblue { color: darkslateblue; }
.color-darkslategray { color: darkslategray; }
.color-darkslategrey { color: darkslategrey; }
.color-darkturquoise { color: darkturquoise; }
.color-darkviolet { color: darkviolet; }
.color-deeppink { color: deeppink; }
.color-deepskyblue { color: deepskyblue; }
.color-dimgray { color: dimgray; }
.color-dimgrey { color: dimgrey; }
.color-dodgerblue { color: dodgerblue; }
.color-firebrick { color: firebrick; }
.color-floralwhite { color: floralwhite; }
.color-forestgreen { color: forestgreen; }
.color-fuchsia { color: fuchsia; }
.color-gainsboro { color: gainsboro; }
.color-ghostwhite { color: ghostwhite; }
.color-gold { color: gold; }
.color-goldenrod { color: goldenrod; }
.color-gray { color: gray; }
.color-green { color: green; }
.color-greenyellow { color: greenyellow; }
.color-grey { color: grey; }
.color-honeydew { color: honeydew; }
.color-hotpink { color: hotpink; }
.color-indianred { color: indianred; }
.color-indigo { color: indigo; }
.color-ivory { color: ivory; }
.color-khaki { color: khaki; }
.color-lavender { color: lavender; }
.color-lavenderblush { color: lavenderblush; }
.color-lawngreen { color: lawngreen; }
.color-lemonchiffon { color: lemonchiffon; }
.color-lightblue { color: lightblue; }
.color-lightcoral { color: lightcoral; }
.color-lightcyan { color: lightcyan; }
.color-lightgoldenrodyellow { color: lightgoldenrodyellow; }
.color-lightgray { color: lightgray; }
.color-lightgreen { color: lightgreen; }
.color-lightgrey { color: lightgrey; }
.color-lightpink { color: lightpink; }
.color-lightsalmon { color: lightsalmon; }
.color-lightseagreen { color: lightseagreen; }
.color-lightskyblue { color: lightskyblue; }
.color-lightslategray { color: lightslategray; }
.color-lightslategrey { color: lightslategrey; }
.color-lightsteelblue { color: lightsteelblue; }
.color-lightyellow { color: lightyellow; }
.color-lime { color: lime; }
.color-limegreen { color: limegreen; }
.color-linen { color: linen; }
.color-magenta { color: magenta; }
.color-maroon { color: maroon; }
.color-mediumaquamarine { color: mediumaquamarine; }
.color-mediumblue { color: mediumblue; }
.color-mediumorchid { color: mediumorchid; }
.color-mediumpurple { color: mediumpurple; }
.color-mediumseagreen { color: mediumseagreen; }
.color-mediumslateblue { color: mediumslateblue; }
.color-mediumspringgreen { color: mediumspringgreen; }
.color-mediumturquoise { color: mediumturquoise; }
.color-mediumvioletred { color: mediumvioletred; }
.color-midnightblue { color: midnightblue; }
.color-mintcream { color: mintcream; }
.color-mistyrose { color: mistyrose; }
.color-moccasin { color: moccasin; }
.color-navajowhite { color: navajowhite; }
.color-navy { color: navy; }
.color-oldlace { color: oldlace; }
.color-olive { color: olive; }
.color-olivedrab { color: olivedrab; }
.color-orange { color: orange; }
.color-orangered { color: orangered; }
.color-orchid { color: orchid; }
.color-palegoldenrod { color: palegoldenrod; }
.color-palegreen { color: palegreen; }
.color-paleturquoise { color: paleturquoise; }
.color-palevioletred { color: palevioletred; }
.color-papayawhip { color: papayawhip; }
.color-peachpuff { color: peachpuff; }
.color-peru { color: peru; }
.color-pink { color: pink; }
.color-plum { color: plum; }
.color-powderblue { color: powderblue; }
.color-purple { color: purple; }
.color-red { color: red; }
.color-rosybrown { color: rosybrown; }
.color-royalblue { color: royalblue; }
.color-saddlebrown { color: saddlebrown; }
.color-salmon { color: salmon; }
.color-sandybrown { color: sandybrown; }
.color-seagreen { color: seagreen; }
.color-seashell { color: seashell; }
.color-sienna { color: sienna; }
.color-silver { color: silver; }
.color-skyblue { color: skyblue; }
.color-slateblue { color: slateblue; }
.color-slategray { color: slategray; }
.color-slategrey { color: slategrey; }
.color-snow { color: snow; }
.color-springgreen { color: springgreen; }
.color-steelblue { color: steelblue; }
.color-tan { color: tan; }
.color-teal { color: teal; }
.color-thistle { color: thistle; }
.color-tomato { color: tomato; }
.color-turquoise { color: turquoise; }
.color-violet { color: violet; }
.color-wheat { color: wheat; }
.color-white { color: white; }
.color-whitesmoke { color: whitesmoke; }
.color-yellow { color: yellow; }
.color-yellowgreen { color: yellowgreen; }

/* Background Color */
.background-aliceblue { background-color: aliceblue; }
.background-antiquewhite { background-color: antiquewhite; }
.background-aqua { background-color: aqua; }
.background-aquamarine { background-color: aquamarine; }
.background-azure { background-color: azure; }
.background-beige { background-color: beige; }
.background-bisque { background-color: bisque; }
.background-black { background-color: black; }
.background-blanchedalmond { background-color: blanchedalmond; }
.background-blue { background-color: blue; }
.background-blueviolet { background-color: blueviolet; }
.background-brown { background-color: brown; }
.background-burlywood { background-color: burlywood; }
.background-cadetblue { background-color: cadetblue; }
.background-chartreuse { background-color: chartreuse; }
.background-chocolate { background-color: chocolate; }
.background-coral { background-color: coral; }
.background-cornflowerblue { background-color: cornflowerblue; }
.background-cornsilk { background-color: cornsilk; }
.background-crimson { background-color: crimson; }
.background-cyan { background-color: cyan; }
.background-darkblue { background-color: darkblue; }
.background-darkcyan { background-color: darkcyan; }
.background-darkgoldenrod { background-color: darkgoldenrod; }
.background-darkgray { background-color: darkgray; }
.background-darkgreen { background-color: darkgreen; }
.background-darkgrey { background-color: darkgrey; }
.background-darkkhaki { background-color: darkkhaki; }
.background-darkmagenta { background-color: darkmagenta; }
.background-darkolivegreen { background-color: darkolivegreen; }
.background-darkorange { background-color: darkorange; }
.background-darkorchid { background-color: darkorchid; }
.background-darkred { background-color: darkred; }
.background-darksalmon { background-color: darksalmon; }
.background-darkseagreen { background-color: darkseagreen; }
.background-darkslateblue { background-color: darkslateblue; }
.background-darkslategray { background-color: darkslategray; }
.background-darkslategrey { background-color: darkslategrey; }
.background-darkturquoise { background-color: darkturquoise; }
.background-darkviolet { background-color: darkviolet; }
.background-deeppink { background-color: deeppink; }
.background-deepskyblue { background-color: deepskyblue; }
.background-dimgray { background-color: dimgray; }
.background-dimgrey { background-color: dimgrey; }
.background-dodgerblue { background-color: dodgerblue; }
.background-firebrick { background-color: firebrick; }
.background-floralwhite { background-color: floralwhite; }
.background-forestgreen { background-color: forestgreen; }
.background-fuchsia { background-color: fuchsia; }
.background-gainsboro { background-color: gainsboro; }
.background-ghostwhite { background-color: ghostwhite; }
.background-gold { background-color: gold; }
.background-goldenrod { background-color: goldenrod; }
.background-gray { background-color: gray; }
.background-green { background-color: green; }
.background-greenyellow { background-color: greenyellow; }
.background-grey { background-color: grey; }
.background-honeydew { background-color: honeydew; }
.background-hotpink { background-color: hotpink; }
.background-indianred { background-color: indianred; }
.background-indigo { background-color: indigo; }
.background-ivory { background-color: ivory; }
.background-khaki { background-color: khaki; }
.background-lavender { background-color: lavender; }
.background-lavenderblush { background-color: lavenderblush; }
.background-lawngreen { background-color: lawngreen; }
.background-lemonchiffon { background-color: lemonchiffon; }
.background-lightblue { background-color: lightblue; }
.background-lightcoral { background-color: lightcoral; }
.background-lightcyan { background-color: lightcyan; }
.background-lightgoldenrodyellow { background-color: lightgoldenrodyellow; }
.background-lightgray { background-color: lightgray; }
.background-lightgreen { background-color: lightgreen; }
.background-lightgrey { background-color: lightgrey; }
.background-lightpink { background-color: lightpink; }
.background-lightsalmon { background-color: lightsalmon; }
.background-lightseagreen { background-color: lightseagreen; }
.background-lightskyblue { background-color: lightskyblue; }
.background-lightslategray { background-color: lightslategray; }
.background-lightslategrey { background-color: lightslategrey; }
.background-lightsteelblue { background-color: lightsteelblue; }
.background-lightyellow { background-color: lightyellow; }
.background-lime { background-color: lime; }
.background-limegreen { background-color: limegreen; }
.background-linen { background-color: linen; }
.background-magenta { background-color: magenta; }
.background-maroon { background-color: maroon; }
.background-mediumaquamarine { background-color: mediumaquamarine; }
.background-mediumblue { background-color: mediumblue; }
.background-mediumorchid { background-color: mediumorchid; }
.background-mediumpurple { background-color: mediumpurple; }
.background-mediumseagreen { background-color: mediumseagreen; }
.background-mediumslateblue { background-color: mediumslateblue; }
.background-mediumspringgreen { background-color: mediumspringgreen; }
.background-mediumturquoise { background-color: mediumturquoise; }
.background-mediumvioletred { background-color: mediumvioletred; }
.background-midnightblue { background-color: midnightblue; }
.background-mintcream { background-color: mintcream; }
.background-mistyrose { background-color: mistyrose; }
.background-moccasin { background-color: moccasin; }
.background-navajowhite { background-color: navajowhite; }
.background-navy { background-color: navy; }
.background-oldlace { background-color: oldlace; }
.background-olive { background-color: olive; }
.background-olivedrab { background-color: olivedrab; }
.background-orange { background-color: orange; }
.background-orangered { background-color: orangered; }
.background-orchid { background-color: orchid; }
.background-palegoldenrod { background-color: palegoldenrod; }
.background-palegreen { background-color: palegreen; }
.background-paleturquoise { background-color: paleturquoise; }
.background-palevioletred { background-color: palevioletred; }
.background-papayawhip { background-color: papayawhip; }
.background-peachpuff { background-color: peachpuff; }
.background-peru { background-color: peru; }
.background-pink { background-color: pink; }
.background-plum { background-color: plum; }
.background-powderblue { background-color: powderblue; }
.background-purple { background-color: purple; }
.background-red { background-color: red; }
.background-rosybrown { background-color: rosybrown; }
.background-royalblue { background-color: royalblue; }
.background-saddlebrown { background-color: saddlebrown; }
.background-salmon { background-color: salmon; }
.background-sandybrown { background-color: sandybrown; }
.background-seagreen { background-color: seagreen; }
.background-seashell { background-color: seashell; }
.background-sienna { background-color: sienna; }
.background-silver { background-color: silver; }
.background-skyblue { background-color: skyblue; }
.background-slateblue { background-color: slateblue; }
.background-slategray { background-color: slategray; }
.background-slategrey { background-color: slategrey; }
.background-snow { background-color: snow; }
.background-springgreen { background-color: springgreen; }
.background-steelblue { background-color: steelblue; }
.background-tan { background-color: tan; }
.background-teal { background-color: teal; }
.background-thistle { background-color: thistle; }
.background-tomato { background-color: tomato; }
.background-turquoise { background-color: turquoise; }
.background-violet { background-color: violet; }
.background-wheat { background-color: wheat; }
.background-white { background-color: white; }
.background-whitesmoke { background-color: whitesmoke; }
.background-yellow { background-color: yellow; }
.background-yellowgreen { background-color: yellowgreen; }
